body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: rgb(49, 49, 238);
}



.left-side {
    width: 60%;
    float: left;

}

.right-side {
    width: 40%;
    float: right;
}

