body {
    font-family: Arial, sans-serif;
    /* descobrir como centrar e nao ocupar o ecra todo */
    background-color: black;
}

.content {
    max-width: 210mm;
    max-height: 297mm;
    margin: auto;
}
.header {
    background-color: #056a99;
    padding: 20px;
    color: white;
}

.header h1 {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -5px;
    padding-left: 10px;
}

.header p {
    font-size: 22px;
    padding-left: 10px;
    font-weight: bold;
}

.left-side {
    width: 70%;
    height: 100%;
    float: left;
    padding: 10px;
    background-color: white;
    padding-bottom: 134px;

}

.Company {
    margin-bottom: 20px;
}

.Company h3 {
    font-size: 18px;
    margin-bottom: -5px;
}

.Company p {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 15px;
}


.right-side {
    background-color: lightgray;
    width: 30%;
    height: 100%;
    float: right;
    padding: 10px;
}

p {
    margin: 0px;
}

h2 {
    border-bottom: 4px solid #056a99;
    color: #056a99;
}

.fa-li {
    color: #056a99;
}

.progress-bar > .w3-container {
    background-color: #056a99 !important;
  }

.education p {
    margin-bottom: 15px;
}