body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background-color: rgb(49, 49, 238);
    padding: 
}

.header p {
    margin: 0px;
}

.header h1 {
    margin-bottom: 0;
}

.left-side {
    width: 60%;
    float: left;
    background-color: yellow;

}

.right-side {
    width: 40%;
    float: right;
    background-color: rgba(150, 150, 150, 0.884);
}

.w3-container, .w3-panel{
    padding: 5px;
}